.chess-row:nth-of-type(4n+1),
.chess-row:nth-of-type(4n+3) {
  background-color: #ffffff;
}

/* Сірий фон для 2-ї пари рядків (основний + деталі) */
.chess-row:nth-of-type(4n+2),
.chess-row:nth-of-type(4n+4) {
  background-color: #f0f0f0; /* slate-50 */
}

.chess-row:hover {
  background-color: #f1f5f9; /* slate-100 при наведенні */
}

.table-head {
    background-color: #f59e0b;
}