/* =========================
   LEAFLET POPUP BASE
========================= */

.custom-leaflet-popup .leaflet-popup-content-wrapper {
  padding: 0 !important;
  overflow: hidden !important;
  border-radius: 20px !important;
  background: #fff;
  border: 1px solid #e2e8f0;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.08),
    0 10px 10px -5px rgb(0 0 0 / 0.04);
}

.custom-leaflet-popup .leaflet-popup-content {
  margin: 0 !important;
  width: 280px !important;
  line-height: 1.4;
}

:host ::ng-deep .custom-leaflet-popup .leaflet-popup-tip-container {
  display: none;
}

.custom-leaflet-popup .leaflet-popup-close-button {
  top: 14px;
  right: 14px;
  color: #94a3b8;
  font-size: 16px;
}




/* =========================
   REQUEST POPUP
========================= */

.request-popup {
  font-family: 'Onest', sans-serif; /* Використовуємо твій основний шрифт */
  background: white;
}

/* Падінг тільки для верхньої частини */
.request-popup__content {
  padding: 18px 18px 14px 18px;
}

.request-popup__header {
  display: flex;
  align-items: flex-start;
  gap: 14px;
}

.request-popup__accent {
  width: 5px;
  height: 52px;
  border-radius: 999px;
  min-width: 5px;
}

.request-popup__meta {
  flex: 1;
  min-width: 0;
}

/* TOP LINE */

.request-popup__topline {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 6px;
}

.request-popup__category {
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #94a3b8;
}

.request-popup__status {
  width: 8px;
  height: 8px;
  border-radius: 999px;
}

.request-popup__status--open {
  background: #22c55e;
}

.request-popup__status--progress {
  background: #3b82f6;
}

/* CONTENT */

.request-popup__title {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: #0f172a;
  line-height: 1.3;
}

.request-popup__address {
  margin-top: 8px;
  font-size: 12px;
  color: #64748b;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* FOOTER */

.request-popup__footer {
  padding: 12px 18px;
  background-color: #f8fafc; /* slate-50 */
  border-top: 1px solid #f1f5f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.request-popup__date {
  font-size: 11px;
  font-weight: 500;
  color: #94a3b8;
}

.request-popup__action {
  font-size: 12px;
  font-weight: 700;
  color: #2563eb;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.request-popup:hover .request-popup__action {
  transform: translateX(2px);
}