<div class="min-h-screen bg-slate-50 pt-28 pb-12 px-4 md:px-8">
  <div class="max-w-[1400px] mx-auto space-y-8">
    
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
      <div (click)="setActiveTab('users')" 
      class="cursor-pointer transition-all duration-300 outline-none"
           [ngClass]="activeTab === 'users' ? 'scale-100 ring-4 ring-slate-900/10 ring-offset-4 ring-offset-slate-50' : 'scale-95 opacity-60 hover:opacity-100'">
        <app-admin-stats-card label="Спільнота" [value]="stats()?.totalUsers" variant="dark">
          <div class="text-[10px] font-bold bg-white/10 text-white px-3 py-1 rounded-xl border border-white/5 uppercase">Юзерів</div>
        </app-admin-stats-card>
      </div>

      <div (click)="setActiveTab('organizations')" class="cursor-pointer transition-all duration-300"
           [ngClass]="activeTab === 'organizations' ? 'scale-100 ring-4 ring-amber-500/20 ring-offset-4 ring-offset-slate-50' : 'scale-95 opacity-60 hover:opacity-100'">
        <app-admin-stats-card label="Верифікація" [value]="stats()?.pendingOrganizations" labelClass="text-amber-500">
           </app-admin-stats-card>
      </div>

      <div (click)="setActiveTab('requests')" class="cursor-pointer transition-all duration-300"
           [ngClass]="activeTab === 'requests' ? 'scale-100 ring-4 ring-blue-500/20 ring-offset-4 ring-offset-slate-50' : 'scale-95 opacity-60 hover:opacity-100'">
        <app-admin-stats-card label="Активність" [value]="stats()?.totalRequests" labelClass="text-blue-500">
           </app-admin-stats-card>
      </div>
    </div>

    <div class="mt-8">
      <app-admin-users-table 
        *ngIf="activeTab === 'users'" 
        [users]="users()" 
        (ban)="handleBan($event)">
      </app-admin-users-table>

      <app-admin-orgs-table 
        *ngIf="activeTab === 'organizations'" 
        [organizations]="organizations()" 
        (verify)="handleVerifyOrg($event)">
      </app-admin-orgs-table>

      <app-admin-requests-table 
        *ngIf="activeTab === 'requests'" 
        [requests]="requests()" 
        (delete)="handleDeleteRequest($event)">
      </app-admin-requests-table>
    </div>
  </div>
</div>