.animate-loading-bar {
  width: 30%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    oklch(54.6% 0.245 262.881),
    transparent
  );
  animation: loading-bar 1.2s ease-in-out infinite;
}

@keyframes loading-bar {
  0% {
    transform: translateX(-100%);
    opacity: 0.4;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(300%);
    opacity: 0.4;
  }
}